<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule Meeting</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <main>
      <section class="meeting-section">
        <h3 class="heading">Available Slots</h3>
        <ul class="meeting-list">
          <% for( let meeting of meetings ) { if (meeting.slots > 0) { %>
          <li>
            <a class="meeting-item" href="/meeting/<%= meeting.id %>">
              <b><%= meeting.time %></b>
              <p><%= meeting.slots %> Slots Available</p>
            </a>
          </li>
          <% } } %>
        </ul>
      </section>
      <section class="schedules-section">
        <h3 class="heading">Scheduled Meetings</h3>
        <% if (schedules.length > 0) { %>
        <ul class="schedule-list">
          <% for( let schedule of schedules ) { %>
          <li class="schedule-item">
            <h3>Hi <%= schedule.name %>,</h3>
            <p>
              Please join the meeting by clicking on this link
              <a href="<%= schedule.link %>" target="_blank">
                <%= schedule.link %>
              </a>

              <b>at <%= schedule.time %></b>
            </p>
            <form action="/cancel-meeting" method="post">
              <input
                type="hidden"
                name="meetId"
                value="<%= schedule.meetingId %>"
              />
              <input type="hidden" name="schedId" value="<%= schedule.id %>" />
              <button class="btn cancel" type="submit">Cancel</button>
            </form>
          </li>
          <% } %>
        </ul>
        <% } else { %>
        <p style="text-align: center; color: red">
          No upcoming meetings available.
        </p>
        <% }%>
      </section>
    </main>
  </body>
</html>
